<div class="container">
	<h1>{{$ctrl.heading}}</h1>

	<button type="button" class="btn btn-primary mb-3" ng-on-click="$ctrl.onClikLoadSecondComponent()">
		LOAD SECOND MFE WITH INPUT BINDING
	</button>
	<div>
		<input class="form-control" placeholder="type anything" type="text" ng-change="$ctrl.onInputChanged()" ng-model="$ctrl.inputValue">
	</div>

</div>

<div class="mfes-container">
	<div>
		FIRST MFE COMPONENT:
		<p id="ng-container"></p>
	</div>
	<div>
		Lazy Loaded second MFE:
		<p id="ng-container-another" ng-on-click="$ctrl.onClickContainer()">
	</div>
	</p>
</div>
