<div class="container">
	<h1>{{$ctrl.heading}}</h1>

	<button type="button" class="btn btn-primary mb-3" ng-on-click="$ctrl.onClikLoadSecondComponent()">
		LOAD SECOND MFE
	</button>
	<div>
		<p>This input binded with MFE</p>
		<input class="form-control" placeholder="type anything" type="text" ng-change="$ctrl.onInputChanged()" ng-model="$ctrl.inputValue">
	</div>

</div>

<div class="mfes-container">
	<div>
		First MFE Component
		<p id="ng-container-another" ng-on-click="$ctrl.onClickContainer()">
	</div>
	<div>
		Second MFE Component(Lazy-load)
		<p id="ng-container"></p>
	</div>
	</p>
</div>
